<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>产业园区</title>
<link href="__PUBLIC__/Home/css/head.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Home/css/gion.css" rel="stylesheet" type="text/css" />
<script src="__PUBLIC__/Home/js/jquery-1.9.1.min.js"></script>
<script src="__PUBLIC__/Home/js/common.js"></script>
</head>

<script>
	function getList(type,id){
		var quyu_id = "<?php echo $quyu_id?>";
		var gongneng_id = "<?php echo $gongneng_id?>";
		var leixing_id = "<?php echo $leixing_id?>";
		var jibie_id = "<?php echo $jiebie_id?>";
		var url = "<?php echo U('Index/gion')?>"+'&'+type+'='+id;
		if(quyu_id!=''){
			url +="&quyu_id="+quyu_id;
		}
		if(gongneng_id!=''){
			url +="&gongneng_id="+gongneng_id;
		}
		if(leixing_id!=''){
			rul +='&leixing_id='+leixing_id;
		}
		if(jibie_id!=''){
			url +='&jibie_id='+jibie_id;
		}
		location.href=url;
	}
</script>
<body>
<include file="Public/head1"/>
    
    <div class="area-address">
    	<div class="area-address-qu">
        	<ul>
            	<li>区域</li>
                <li class="li-style">不限</li>
                <?php foreach($cityList as $v){?>
                <li onclick="getList('quyu_id',<?php echo $v['id']?>)"><?php echo $v['title']?></a></li>
                <?php } ?>
               
            </ul>
        </div>
        
        <div class="area-address-qu">
        	<ul>
            	<li>功能</li>
                <li class="li-style">不限</li>
                <?php foreach($gongnengList as $v){?>
                <li onclick="getList('gongneng_id',<?php echo $v['id']?>)"><?php echo $v['title']?></li>
                <?php } ?>
            </ul>
        </div>
        
        <div class="area-address-qu">
        	<ul>
            	<li>类型</li>
                <li class="li-style">不限</li>
                <?php foreach($leixingList as $v){?>
                <li onclick="getList('leixing_id',<?php echo $v['id']?>)"><?php echo $v['title']?></li>
                <?php } ?>
  
            </ul>
        </div>
        
        <div class="area-address-qu no-boerder">
        	<ul>
            	<li>级别</li>
                <li class="li-style">不限</li>
                <?php foreach($jibieList as $v){?>
                <li onclick="getList('jibie_id',<?php echo $v['id']?>)"><?php echo $v['title']?></li>
                <?php } ?>
            </ul>
        </div>
    
    </div>

    <div class="nav-gion">
    	<ul>
    	<?php foreach($jibieList as $v){?>
            <li><a href=""><?php echo $v['title']?></a></li>
        <?php } ?>
        	
        </ul>
    
    </div>
    
    <!--列表开始-->
    
    <div class="gion-list">
    	<ul>
        	<li>
            	<div class="float-left gion-img"><img src="__PUBLIC__/Home/images/gion-01.png"></div>
                <div class="float-left">
                	<p class="gion-p1"><span>某某某企业</span><span>推荐指数：</span></p>
                    <p class="gion-p2">企业服务:<span>服务1</span><span>服务2</span><span>服务3</span></p>
                    <p class="gion-p3">企业优势标示语<span><img src="__PUBLIC__/Home/images/9.png"></span></p>
                </div>
            </li>
            
            <li>
            	<div class="float-left gion-img"><img src="__PUBLIC__/Home/images/gion-01.png"></div>
                <div class="float-left">
                	<p class="gion-p1"><span>某某某企业</span><span>推荐指数：</span></p>
                    <p class="gion-p2">企业服务:<span>服务1</span><span>服务2</span><span>服务3</span></p>
                    <p class="gion-p3">企业优势标示语<span><img src="__PUBLIC__/Home/images/9.png"></span></p>
                </div>
            </li>
            
            <li>
            	<div class="float-left gion-img"><img src="__PUBLIC__/Home/images/gion-01.png"></div>
                <div class="float-left">
                	<p class="gion-p1"><span>某某某企业</span><span>推荐指数：</span></p>
                    <p class="gion-p2">企业服务:<span>服务1</span><span>服务2</span><span>服务3</span></p>
                    <p class="gion-p3">企业优势标示语<span><img src="__PUBLIC__/Home/images/9.png"></span></p>
                </div>
            </li>
            
            <li>
            	<div class="float-left gion-img"><img src="__PUBLIC__/Home/images/gion-01.png"></div>
                <div class="float-left">
                	<p class="gion-p1"><span>某某某企业</span><span>推荐指数：</span></p>
                    <p class="gion-p2">企业服务:<span>服务1</span><span>服务2</span><span>服务3</span></p>
                    <p class="gion-p3">企业优势标示语<span><img src="__PUBLIC__/Home/images/9.png"></span></p>
                </div>
            </li>
            
            <li>
            	<div class="float-left gion-img"><img src="__PUBLIC__/Home/images/gion-01.png"></div>
                <div class="float-left">
                	<p class="gion-p1"><span>某某某企业</span><span>推荐指数：</span></p>
                    <p class="gion-p2">企业服务:<span>服务1</span><span>服务2</span><span>服务3</span></p>
                    <p class="gion-p3">企业优势标示语<span><img src="__PUBLIC__/Home/images/9.png"></span></p>
                </div>
            </li>
            
            <li>
            	<div class="float-left gion-img"><img src="__PUBLIC__/Home/images/gion-01.png"></div>
                <div class="float-left">
                	<p class="gion-p1"><span>某某某企业</span><span>推荐指数：</span></p>
                    <p class="gion-p2">企业服务:<span>服务1</span><span>服务2</span><span>服务3</span></p>
                    <p class="gion-p3">企业优势标示语<span><img src="__PUBLIC__/Home/images/9.png"></span></p>
                </div>
            </li>
            
            <li>
            	<div class="float-left gion-img"><img src="__PUBLIC__/Home/images/gion-01.png"></div>
                <div class="float-left">
                	<p class="gion-p1"><span>某某某企业</span><span>推荐指数：</span></p>
                    <p class="gion-p2">企业服务:<span>服务1</span><span>服务2</span><span>服务3</span></p>
                    <p class="gion-p3">企业优势标示语<span><img src="__PUBLIC__/Home/images/9.png"></span></p>
                </div>
            </li>
            
            <li>
            	<div class="float-left gion-img"><img src="__PUBLIC__/Home/images/gion-01.png"></div>
                <div class="float-left">
                	<p class="gion-p1"><span>某某某企业</span><span>推荐指数：</span></p>
                    <p class="gion-p2">企业服务:<span>服务1</span><span>服务2</span><span>服务3</span></p>
                    <p class="gion-p3">企业优势标示语<span><img src="__PUBLIC__/Home/images/9.png"></span></p>
                </div>
            </li>
            
            <li>
            	<div class="float-left gion-img"><img src="__PUBLIC__/Home/images/gion-01.png"></div>
                <div class="float-left">
                	<p class="gion-p1"><span>某某某企业</span><span>推荐指数：</span></p>
                    <p class="gion-p2">企业服务:<span>服务1</span><span>服务2</span><span>服务3</span></p>
                    <p class="gion-p3">企业优势标示语<span><img src="__PUBLIC__/Home/images/9.png"></span></p>
                </div>
            </li>
            
            <li>
            	<div class="float-left gion-img"><img src="__PUBLIC__/Home/images/gion-01.png"></div>
                <div class="float-left">
                	<p class="gion-p1"><span>某某某企业</span><span>推荐指数：</span></p>
                    <p class="gion-p2">企业服务:<span>服务1</span><span>服务2</span><span>服务3</span></p>
                    <p class="gion-p3">企业优势标示语<span><img src="__PUBLIC__/Home/images/9.png"></span></p>
                </div>
            </li>
        </ul>
    
    </div>
    <!--分页代码-->
    <div class="page">
    	<ul>
        	<li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li>8</li>
            <li>9</li>
            <li>10</li>
        </ul>
    </div>
 </div>
 <!--主题部分结束-->
 <div class="clear"></div>
<!--底部-->
<div class="footer">
	<div class="footer-box">
    	<div class="float-left auout-us">
        	<ul>
            	<li class="title"><a href="">关于我们</a></li>
                <li><a href="">了解我们</a></li>
                <li><a href="">联系我们</a></li>
                <li><a href="">加入我们</a></li>
            </ul>
        </div>
        
        <div class="float-left auout-us">
        	<ul>
            	<li class="title"><a href="">服务类容</a></li>
                <li><a href="">工商注册</a></li>
                <li><a href="">财务代理</a></li>
                <li><a href="">创业套餐</a></li>
            </ul>
        </div>
        
        <div class="float-right">
        	<p>在线客服（工作日9:00-18:00）</p>
            <h1>400-666-0888</h1>
        </div>
    
    </div>
     <div class="clear"></div>
     
     <div class="banquan">
     	<p>Copyright @ 2016 qibangbang.com Inc. All Rights Reserved</p>
        <p>企业服务（北京）有限公司 京ICP 备案16015423号</p>
     </div>

</div>


</body>
</html>
